.container {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}
section {
  border: 1px rgb(255, 0, 0) solid;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto 0 auto;
  width: 50%;
  flex-direction: column;
  margin: 0 5px 0 5px;
  background-color: beige;
  display: flex;
}

.content {
  background-color: white;
  border-radius: 10px;
  flex-grow: 1;
  padding: 0 5px 0 5px;
}

header {
  background-color: orange;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  flex-wrap: nowrap;
  text-align: center;
}

div.content {
  background-color: white;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  flex-wrap: nowrap;
  text-align: center;
}
